.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #70BC86;
    margin: 0;
    padding-top: 30vh;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
    width: 100%;
    height: 150px;
}