.create-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #70BC86;
    margin: 0;
    padding-bottom: 25px;
}

.category-form{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}