@import './../variables.scss';

.activities {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 25px;
}

h1 {
  color: $secondary-accent;
  font-family: $light-font;
  font-size: 40px;
}

.new-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

