@import './../../variables.scss';
  
.cat-item {
    margin-bottom: 30px;
}

.cat-card {
    display: flex;
    position: relative;
    width: 70vw;
    height: 200px;
    background-color: $secondary-accent;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    margin-bottom: 15px;
    overflow: hidden;
    
}

.cat-card p {
    font-family: $light-font;
    font-size: 35px;
    align-self: center;
    text-align: center;
    margin: auto;
    color: $primary-accent;
}

.edit-button {
    background-image: url(../../images/editpencil.png);
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    margin: 5px 3px;
    position: absolute;
    top: 0;
    right:0;
    
    
}