@import './../../variables.scss';

.single-form {
    /* margin: 0 auto 10px auto; */
    width: 85vw;
    display: flex;
    flex-direction: column;
    color: $secondary-accent;
    font-family: $light-font;
    font-size: 30px;
    padding: 0;
    margin-bottom: 30px;
    
}

.input {
    border-radius: 15px;
    border: solid 3px $primary-accent;
    background-color: $input-color;
    height: 40px;
    margin-bottom: 0;
    margin-top: 15px;
}

.greenText {
    color: $primary-accent;
}

.whiteText {
    color: $secondary-accent;
}