@import './../../variables.scss';

.auth-form {
    margin: 0 auto 10px auto;
    width: 85vw;
    height: 425px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.auth-form label {
    color: $secondary-accent;
    font-family: $light-font;
    font-size: 30px;
}

.input {
    border-radius: 15px;
    border: solid 3px $primary-accent;
    background-color: $input-color;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
}

.input:last-of-type {
    margin-bottom: 9vh;
}

.button {
    margin-top: -2vh;
}

.error{
    font-size: 5px;
}
